body{
    background-image: url('../Assets/s1.jpg')
    }
.sregborder{
    border: 2px solid black;
    width: 400px;
    height: 550px;
    text-align: center;
    margin-left: 35%;
    margin-top: 2%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
     }
.sregbut
{
    width: 250px;
    height: 30px;
    border-radius: 70px;
}
.sregbut:hover
{
background-color: red;
}
.sreginp
{
    width: 250px;
    border:none;
    border-bottom: 2px solid rgb(252, 252, 252);
    background-color: transparent;
    color: blue;
}
.sreghead
{
font-size: 20px;
margin-top: 5%;
}
.sregpara1
{
    font-size: 18px;
}
.sregpara2
{
    font-size: 14px;
}