.Sfeedborder{
    border: 2px solid black;
    width: 400px;
    height: 550px;
    text-align: center;
    margin-left: 35%;
    margin-top: 4%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
     }
.Sfeedbkbut
{
    width: 250px;
    height: 30px;
    border-radius: 70px;
}
.Sfeedbkbut:hover
{
background-color: red;
}
.Sfeedbkhead
{
    margin-top: 5%;
font-size: 20px;
}
.Sfeedbkpara1
{
    font-size: 18px;
}
.Sfeedbkpara2
{
    font-size: 14px;
}
.Sfeedbkarea{
    height: 200px;
    width: 250px;
    border:none;
    border: 2px solid rgb(252, 252, 252);
    background-color: transparent;
    color: white;
}