.Sbord
{
    border :22px solid black;
    width: 90%;
    height: 45%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: black;
    opacity: 0.8;
    color: white;
}
.Shead
{
    text-align: center;
}
.Sside
{
    margin-top: 8%;
    margin-left: 3%;
}
.box
{
    margin-left: 5%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid white;
    

}
.boxs
{
    margin-left: 7%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid white;
}
.boxes
{
    margin-left: 1.4%;
    background-color: transparent;
    border: none;
    border-bottom:2px solid white;
}
