
.adding {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 10px;
    margin: 50px 0px 0px 250px;
    box-shadow: 20px 20px 20px 20px;
    padding: 20px;
}
.addbook{
    text-align: center;
    font-weight: bold;
    color: #A96131;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
.addbtn{
    background-color: #A96131;
    width: 100%;
    font-weight: bold;

}



