
 /* .home{
     background-color: #F7F9EC; 
    height: 100%; 
   
}  */

.hback{
    background-image: url('../Assets/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.homeimg{
    width: 600px;
    height: 550px;
    overflow: hidden;
}
.bookimg{
    width: 800px;
    position: absolute;
    right: 600px;
}
.content{
    position: absolute;
    top: 250px;
    left: 700px;
}

