.move{
    margin-left: 800px;
}
.home{
    background-color: #F7F9EC;
   
}
.homeimg{
    width: 600px;
    height: 500px;
    overflow: hidden;
}
.bookimg{
    width: 100%;
    transform: scale(1.5);
    transform-origin: center;
}
.content{
    position: absolute;
    top: 250px;
    left: 700px;
}

